body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.item {
  background-color: aquamarine;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
}

.item.completed {
  background-color: cadetblue;
  color: white;
}

.todo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.todo-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.clear-btn {
  max-width: 300px;
  width: 100%;
  margin: auto;
}

button {
  background-color: rgb(231, 178, 43);
  border: none;
  border-radius: 10px;
}